Source: ros-indigo-jsk-2015-05-baxter-apc
Section: misc
Priority: extra
Maintainer: Kentaro Wada <www.kentaro.wada@gmail.com>
Build-Depends: debhelper (>= 9.0.0), gazebo2, ros-indigo-baxter-description, ros-indigo-catkin, ros-indigo-collada-urdf, ros-indigo-dynamic-reconfigure, ros-indigo-euscollada, ros-indigo-geometry-msgs, ros-indigo-jsk-tools, ros-indigo-message-generation, ros-indigo-roseus, ros-indigo-rosserial-arduino, ros-indigo-rosserial-client, ros-indigo-std-msgs, ros-indigo-xacro
Homepage: http://wiki.ros.org/jsk_2015_05_baxter_apc
Standards-Version: 3.9.2

Package: ros-indigo-jsk-2015-05-baxter-apc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-numpy, python-opencv, python-progressbar, python-skimage, python-sklearn, python-termcolor, ros-indigo-baxter-gazebo, ros-indigo-baxtereus, ros-indigo-dynamic-reconfigure, ros-indigo-geometry-msgs, ros-indigo-imagesift, ros-indigo-jsk-apc2015-common, ros-indigo-jsk-pcl-ros, ros-indigo-jsk-recognition-msgs, ros-indigo-jsk-rqt-plugins, ros-indigo-message-runtime, ros-indigo-posedetection-msgs, ros-indigo-roseus, ros-indigo-rospy, ros-indigo-rosserial-arduino, ros-indigo-rosserial-client, ros-indigo-sound-play, ros-indigo-std-msgs, ros-indigo-turtlebot-description
Description: ROS package for Amazon Picking Challenge in May 2015
